a{
color: ;
font-size: 13px;
}

div {
color:#FF00FF;
font-size: 35px;
}

#moya_ssilka {
	color: lime;
}

#testovaya_ssilka {
	font-size: 20px;
	color: #FF20FF;
}

.messege {
	color:#010101;
	background-color:#FF0000;
	border: 20px solid #323232;
	font-size: 29px;
	margin-left:12px
	margin-right:520px;
	margin-bottom:30px;
	padding: 25px;
}

.success {
	background-color: #00FF00;
	color: #010101;
	padding: 35px;
}

.fail {
	background-color:#FFFF02;
	color:#010101;
	padding: 35px;
}

.info {
	background-color:#00FBFF;
	color: #010101;
	padding: 35px;
}

.in {
	background-color:#0015FF;
	color: #010101;
	padding: 35px;
}

.nfo {
	background-color:#FF00FF;
	color: #010101;
	padding: 35px;
}

.warning {
	background-color:#FF7802;
	color:#010101;
		padding: 35px;
}

.messege:hover{
	border: 28px solid #000000;
}

div:hover {
	border: 35px solid #FF00FF;
}






















































